<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>lonely 20 questions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="a game for people with no friends">
  <meta name="theme-color" content="#000000">
  <meta property="og:title" content="lonely 20 questions">
  <meta property="og:description" content="a game for people with no friends">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <link rel="stylesheet" href="/static/app.css">
  <script type="importmap">
  {
    "imports": {
      "dreamland/core": "/static/dreamland/core.js",
      "dreamland/js-runtime": "/static/dreamland/js-runtime.js"
    }
  }
  </script>
</head>

<body>
  <div class="body">
    <h1 class="title">lonely 20 questions</h1>

    <a href="https://hackclub.com/"><img
        style="position: absolute; top: 10px; right: 10px; border: 0; width: 100px; z-index: 999;"
        src="https://assets.hackclub.com/banners/2026.svg" alt="Hack Club" /></a>

    <div>you may be sad and have no friends but you can still play 20 questions.</div>
    <br />
    <div>powered by machine learning,
      yes, yet uses no LLMs &amp; costs nearly nothing to run.</div>

    <br />
    <div>1 common english noun, 20 questions, ask yes or no questions.</div>


    <div id="app">loading...</div>

    <div>
      <h3>so how does this work?</h1>
        <div>this works by using the <a href="https://typesafe.ai/">jev system one model from typesafe ai</a>.</div>
        <br>
        <div>jev isn't an llm. it doesn't generate text. all it does is generate probabilities of choices i give it.
        </div>
        <br>
        <div>so in context, for every user 10 random nouns are picked from wonder words, jev decides whats the easiest
          to guess and
          uses
          that word.
        </div>
        <br>
        <div>every time you ask a question jev evaluates if question is yes or no, and if the question means you know
          what
          the word is.</div>
        <br>
        <div>we send those results back to the user, and that's the game.</div>
        <br>
        <div>if you want to try out jev yourself & you're a teenager check out <a
            href="https://ai.hackclub.com/">hackclub
            ai</a>!</div>
        <br>
        <div>if you want to see more from me, sign up to my email list. i make mostly low level engineering projects,
          you
          can check out my stuff at <a href="https://foxmoss.com/blog/">foxmoss.com/blog/</a></div>
        <br>
        <form action="https://buttondown.com/api/emails/embed-subscribe/foxmoss" method="post"
          class="embeddable-buttondown-form">
          <label for="bd-email">email:</label>
          <input type="email" name="email" id="bd-email" />
          <input type="submit" value="subscribe" />
        </form>
        <br>
        <div>once a game finishes the full log of things sent to jev will show up here:</div>

        <pre id="log"></pre>

        <br>
        <div>reload the page to play again</div>
    </div>
  </div>
  <script type="module" src="/static/index.js"></script>
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>

</html>
